.subMenuContainer {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #002856;
    width: 100%;
}

.subMenuHeader {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    margin: 15px 0;
    transition: background-color 0.3s;
}

.subMenuHeader:hover {
    background-color: #cce0ff;
}

.subMenuIcon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.subMenuArrow {
    margin-left: auto;
    font-size: 14px;
}

.subMenuItem {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.subMenuItem:hover {
    background-color: rgb(222, 229, 248);
}


.childContainer {
    margin-left: 25px;
    padding-left: 5px;
    border-left: 2px dashed #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {

    .subMenuHeader,
    .subMenuItem {
        font-size: 14px;
        padding: 10px;
    }

    .subMenuIcon {
        height: 16px;
        width: 16px;
    }

    .subMenuArrow {
        font-size: 12px;
    }
}


.menuContenedor {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuContenedorLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}